version: '3.8'
services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - STRIPE_WEBHOOK_SECRET=${STRIPE_WEBHOOK_SECRET}
    volumes:
      - ./backend:/app
  frontend:
    working_dir: /app/frontend
    build: ./frontend
    ports:
    - "5173:5173"
    volumes:
    - ./frontend:/app
    command: ["npm", "run", "dev"]